<div class="container movie-container">
    {{#each movies}}
    <div class="card movie-card">
        <img src="{{this.image}}" alt="">
        <h3> {{this.title}}</h3>
        <a href="/movies/{{this.id}}">See More</a>
    </div>
    {{/each}}
</div>