h1 {
    font-size: 7em !important;
    color: #FFF;
}

.index-top-container {
    display: flex;
    justify-content: flex-end;
    height: 650px;
    background-image: url(/images/cinema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.inner-index-container {
margin: 50px;
}

.index-btn {
    border-radius: 50px !important;
    padding: 10px !important;
    margin-top: 10px;
    width: 200px;
}

